{% extends 'main/base.html' %}
{% load static %}
{% block title %} Add Department {% endblock %}

{% block content %}
<style>
.title{
    color: #3f9c47;
}
</style>

<!-- CONTENT -->
<section id="content">
    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Admin Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="#">Add department </a>
                    </li>
                </ul>
            </div>
        </div>

        <section class="container">
            <h2 class="title"> Add New Department </h2>
            <div class="row">
                <div class="col-6 justify-content-center">
                    <form action="{% url 'department:add_department' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label><b> Department Title:</b></label>
                        <input class="form-control" type="text" name="title" placeholder="Department name..." required />
        
                        <label><b> Description:</b></label>
                        <textarea class="form-control" name="description" placeholder="Descripe the department..."
                            required></textarea>
        
                        <label><b> Department Image: </b></label>
                        <input type="file" name="image" class="form-control" accept="image/*" />
        
                        <br>
                        <input class="btn btn-secondary" type="submit" value="Create Department" />
    
                    </form>
                </div>
            </div>
        </section>
    </main>
    <!-- MAIN -->
</section>
<!-- CONTENT -->

{% endblock %}