{% extends 'main/base.html' %}
{% load static %}
{% block title %} Department Details {% endblock %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<style>
    .details-image {
        width: 700px;
        height: auto;
        border: 15px;
        padding-left: 150px;
    }
</style>


<!-- CONTENT -->
<section id="content">
    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Admin Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="#">Details department </a>
                    </li>
                </ul>
            </div>
        </div>

        <section>
            <div class="d-flex flex-column gap-1 p-5 border border-1 rounder-6 shadow h-100 align-items-start">
                <img class="details-image" src="{{department.image.url}}" />
                <h2>{{ department.title }}</h2>
                <h4>{{ department.description }}</h4>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Edit
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"
                            href="{% url 'department:update_department' department.id %}">Update</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ModalSupervisor">Add
                            Supervisor</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ModalWorkers">Add
                            Worker</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal">Delete
                            department </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- display Supervisor -->
        <section>
            {% if department.supervisor %}
            <div class="d-flex gap-2 justify-content-between align-items-center mt-2">
                <div class="d-flex align-items-center gap-3">
                    <img class="img-doctors-add" src="{{ department.supervisor.profile.avatar.url }}"
                        class="rounded-3 avatar" />
                    <h4>Supervisor for this department: </h4>
                    <h5>{{ department.supervisor.first_name }} {{ department.supervisor.last_name }}</h5>
                </div>

                {% else %}
                <p>No supervisor assigned</p>
                {% endif %}
            </div>
        </section>

        <!-- display Workers -->

        {% if department.worker.count > 0 %}
        <h4>Workers in this department:</h4>
        <section class="row row-cols-12 row-cols-md-4 border-1">
            {% for worker in department.worker.all %}
            <div>
                <div class="d-flex gap-2 justify-content-between align-items-center">
                    <div class="d-flex align-items-center gap-3">
                        <img src="{{ worker.avatar.url }}" class="rounded-3 avatar" />
                        <h5>{{ worker.first_name }} {{ worker.last_name }}</h5>
                    </div>
                    {% if perms.worker.delete_worker %}
                    <a href="{% url 'department:remove_department_worker' department.id worker.id %}"
                        class="btn btn-danger text-white">Remove</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </section>
        {% endif %}




        <!-- Add Supervisor button -->
        <div class="modal fade" id="ModalSupervisor" tabindex="-1" aria-labelledby="ModalSupervisor" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalSupervisor">Supervisor</h1>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% for supervisor in supervisors %}
                        <div class="d-flex gap-2 justify-content-between align-items-center mt-2">
                            <div class="d-flex align-items-center gap-3">
                                <img class="img-doctors-add" src="{{ supervisor.avatar.url }}"
                                    class="rounded-3 avatar" />
                                <h5>{{ supervisor.first_name }} {{ supervisor.last_name }}</h5>
                            </div>
                            <a href="{% url 'department:add_department_supervisor' department.id supervisor.id %}"
                                class="btn btn-secondary">Add</a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {% if msg %}
        {{ msg }}
        {% endif %}

        <!-- Add Workers button -->
        <div class="modal fade" id="ModalWorkers" tabindex="-1" aria-labelledby="ModalWorkers" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalWorkers">Workers</h1>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% for worker in workers %}
                        <div class="d-flex gap-2 justify-content-between align-items-center mt-2">
                            <div class="d-flex align-items-center gap-3">
                                <img class="img-doctors-add" src="{{ worker.avatar.url }}" class="rounded-3 avatar" />
                                <h5>{{ worker.first_name }} {{ worker.last_name }}</h5>
                            </div>
                            <a href="{% url 'department:add_department_worker' department.id worker.id %}"
                                class="btn btn-secondary">Add</a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        </div>


        <!-- delete department button -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Department</h1>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        you are going to delete the {{ department.title }} department, are you sure ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="{% url 'department:delete_department' department.id %}" class="btn btn-danger">Yes,
                            delete</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

{% endblock %}