{% extends 'main/base.html' %}
{% block title %} All Department {% endblock %}
{% block content %}

<!-- CONTENT -->
<section id="content">
    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Admin Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="#">display department </a>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <h3 class="title"><b> All Departments </b></h3>
            <a href="{% url 'department:add_department' %}" class="btn btn-secondary btn-lg " role="button"
                aria-disabled="true">Add new department </a>
        </div>
        <section class="container">
            <div class="row gap-1 row-cols-3 row-cols-md-4">
                {% for dep in department %}
                <div>
                    <div class="col">
                        <div class="d-flex flex-column gap-1 p-3 border border-1 rounder-6 shadow h-100">
                            <img src="{{dep.image.url}}" /><br>
                            <a href="{% url 'department:department_details' dep.id %}"> {{ dep.title }}
                            </a>
                            <br>
                            <a href="{% url 'department:department_details' dep.id %}"
                                class="btn btn-secondary text-black" type="botton" aria-e>
                                View </a>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </section>

    </main>
    <!-- MAIN -->
</section>
<!-- CONTENT -->



{% endblock %}