{% extends 'main/base.html' %}


{% block content %}


<!-- show comments -->
<section>
    <div class="container my-5 py-5 ">
        {% if comment_count > 0 %}
        <h4 class="mb-0">Recent comments {{comment_count}} </h4>  

      <div class="row row-cols-1 row-cols-md-4 mt-3  d-flex ">
        {% for comment in comment %} 
        <div class="col">
          <div class="card text-dark">
            <div class="card-body p-4">
              <div class="d-flex flex-start">
                     <img class="rounded-circle shadow-1-strong me-3" src="{{ comment.user.profile.avatar.url }}" width="60" height="60" />
                <div>
                  <h6 class="fw-bold mb-1">{{comment.user.first_name}} {{comment.user.last_name}}</a></h6>
                  <div class="d-flex align-items-center mb-3">
                    <p class="mb-0"> {{comment.task.name}}<br>
                        {{comment.task.start_date}} | {{comment.task.end_date}} </p>
                  </div>
                  <p class="mb-0">
                    {{comment.content}}
                    
                  </p>
                  <img src="{{comment.image.url}}" height="100" width="100" />
                </div>

              </div>
              </div>
              </div>
            </div>
            {%endfor%}

   
      </div>
      {%else%}
      <h5>Write a comment</h5>
      {%endif%}
     
    </div>
</section>
      

<div class="container">
    <h2 class="heading">Add comment</h2>

    <form action="{% url 'service:add_comment_view' task.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card">

            <div class="input-div">
                <input type="text" class="input" name= "{{ request.user.username }}"
                value="{{ request.user.username }} " >
            </div>

            <div class="input-div">
                <input type="text" class="input" placeholder="Task" name="task">
            </div>

            <div class="input-div">
                <input class="input" type="text" placeholder="Content" name="content">
            </div>

            <div class="input-div">
                <input class="input" type="file" name="image" accept="image/*" placeholder="Upload image">
            </div>

      <div class="button-div">
        <input class="submit btn btn-success" type="submit" placeholder="Submit">

    </div>
           

        </div>
    </form>
</div>

{% endblock %}

