{% extends 'main/base.html' %}
{% load static %}
{% block title %} Department Details {% endblock %}

{% block content %}


<section>
    <div>
        <div class="d-flex flex-column gap-1 p-5 border border-1 rounder-6 shadow h-100 align-items-start">
            <img class="details-image" src="{{department.Image.url}}" />
            <h2>{{ department.title }}</h2>
            <h4>{{ department.description }}</h4>
            <h5 href="{% url 'service:details_task_view' task.id %}"> {{ task.name }}<h5>
        </div>
    </div>

    <!-- Edit department -->
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
        id="button">
        Edit </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'service:update_department' department.id %}"> Update </a>
        </li>
        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ModalTasks"> Add Task </a>
        </li>
        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ModalSupervisor"> Add Supervisor
            </a>
        </li>
        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ModalWorkers"> Add Worker </a>
        </li>
        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal"> Delete department
            </a>
        </li>
    </ul>
</section>


<!-- Add task button -->
<div class="modal fade" id="ModalTasks" tabindex="-1" aria-labelledby="ModalTasks" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalTasks"> Tasks </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for task in task %}
                <div class="d-flex gap-2 justify-content-between align-items-center mt-2">
                    <div class="d-flex align-items-center gap-3">
                        <h5>{{ task.name}}</h5>
                    </div>
                    <a href="{% url 'service:add_department_task' department.id task.id %}"
                        class="btn btn-secondary">Add</a>
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Close </button>
            </div>
        </div>
    </div>
</div>

<!-- To display Supervisor and Workers -->
<section>
    <div>
        <h3>Supervisor:</h3>
        {% if department.supervisor %}
        <p>{{ department.supervisor.first_name }} {{ department.supervisor.last_name }}</p>
        {% else %}
        <p>No supervisor assigned</p>
        {% endif %}

        <h3>Workers:</h3>
        <ul>
            {% for worker in department.workers.all %}
            <li>{{ worker.first_name }} {{ worker.last_name }}</li>
            {% endfor %}
        </ul>
    </div>
</section>

<!-- Add Supervisor button -->
<div class="modal fade" id="ModalSupervisor" tabindex="-1" aria-labelledby="ModalSupervisor" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalSupervisor">Supervisor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for supervisor in supervisors %}
                <div class="d-flex gap-2 justify-content-between align-items-center mt-2">
                    <div class="d-flex align-items-center gap-3">
                        <img class="img-doctors-add" src="{{ supervisor.avatar.url}}" class="rounded-3 avatar" />
                        <h5>{{ supervisor.name}}</h5>
                    </div>
                    <a href="{% url 'service:add_department_supervisor' department.id supervisor.id %}"
                        class="btn btn-secondary">Add</a>
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Workers button -->
<div class="modal fade" id="ModalWorkers" tabindex="-1" aria-labelledby="ModalWorkers" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalWorkers">Workers</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for worker in workers %}
                <div class="d-flex gap-2 justify-content-between align-items-center mt-2">
                    <div class="d-flex align-items-center gap-3">
                        <img class="img-doctors-add" src="{{ worker.avatar.url}}" class="rounded-3 avatar" />
                        <h5>{{ worker.name}}</h5>
                    </div>
                    <a href="{% url 'service:add_department_worker' department.id worker.id %}"
                        class="btn btn-secondary">Add</a>
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- delete department button -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Department</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                you are going to delete the {{ department.title }} department, are you sure ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'service:delete_department' department.id %}" class="btn btn-danger">Yes, delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}