{% extends 'main/base.html' %}
{% block title %} Tasks {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-white">
                <div class="card-body">
                    <ul class="nav nav-pills todo-nav ">
                        <li role="presentation" class="nav-item all-task active"><a href="#" class="nav-link">All</a>
                        </li>
                        <li role="presentation" class="nav-item active-task"><a href="#" class="nav-link">Active</a>
                        </li>
                        <li role="presentation" class="nav-item completed-task"><a href="#"
                                class="nav-link">Completed</a></li>

                        {% if not request.user.is_superuser %}
                        <button class="btn btn-success"><a href="{% url 'service:add_task_view' %}"
                                style="color: white;"> Add New Task </a></button>
                        {% endif %}
                    </ul>



                    {% for task in tasks %}

                    <div class="todo-list ">
                        <div class="todo-item d-flex justify-content-between align-items-center ">
                            <div class="d-flex">
                                <div class="checker"><span class=""><input type="checkbox"></span></div>
                                <span style="font-family: 'Roboto Slab', serif;">{{task.name}}</span>
                            </div>

                            <div id="accordion">
                                <div class="card-header" id="heading{{ task.id }}">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link d-flex align-items-center" style="color: green;"
                                            data-toggle="collapse" data-target="#collapse{{ task.id }}"
                                            aria-expanded="true" aria-controls="collapse{{ task.id }}"><span
                                                class="material-symbols-outlined">description</span>Task Details</button>
                                    </h5>
                                </div>
                                <div id="collapse{{ task.id }}" class="collapse" aria-labelledby="heading{{ task.id }}"
                                    data-parent="#accordion">

                                    <div class="card-body align-items-center">
                                        <strong><span class="material-symbols-outlined">info </span>Task
                                            Description:</strong> {{ task.description }} <br>
                                        <strong><span class="material-symbols-outlined ">alarm</span>Task Start
                                            Date:</strong> {{ task.start_date }} <br>
                                        <strong><span class="material-symbols-outlined">alarm</span> Task End
                                            Date:</strong> {{ task.end_date }} <br>
                                        <strong> <span class="material-symbols-outlined">location_on </span>Task Address
                                            :</strong> {{ task.address }} <br>
                                        <strong><span class="material-symbols-outlined ">hourglass_top </span>Task
                                            Duration:</strong> {{ task.duration }}<br>
                                        <!-- team member -->
                                        <div class="divider d-flex align-items-center my-4">
                                            <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Team member</p>
                                        </div>

                                        <ul
                                            class="list-group rounded-0 list-group-horizontal justify-content-center pb-2">

                                            <li class="list-group-item border-0 d-flex align-items-center p-0">

                                                <label for="name">Supervisor:<br>
                                                    👷🏻‍♂️ {{ task.supervisor.first_name}} {{ task.supervisor.last_name}}
                                                </label>

                                                {% for worker in task.workers.all %}

                                            <li class="d-flex">{{ worker.username }}</li>
                                            <img width="50px" src="{{ worker.profile.avatar.url }}" alt="avatar"
                                                class="d-flex rounded-circle me-n2"/>

                                            {% endfor %}
                                            </li>

                                        </ul>
                                        <!-- end team member -->
                                    </div>
                                </div>
                            </div>
                          


                            {% if not request.user.is_superuser %}

                            <div style="margin-right: 6px; ">
                                <a href="{% url 'service:delete_task_view' task.id %}" style="color: green;"> <svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path
                                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                    </svg></a>
                                <a href="{% url 'service:update_task_view' task.id %}" style="color: green;"> <svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path
                                            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                    </svg> </a>
                                <a href="{% url 'service:add_comment_view' task.id %}" style="color: green;"> <svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                    </svg> </a>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>



<!-- show comments -->
<section>
    <div class="container my-5 py-5 ">
        {% if comment_count > 0 %}
        <h4 class="mb-0">Recent comments {{comment_count}} </h4>

        <div class="row row-cols-1 row-cols-md-4 mt-3  d-flex ">
            {% for comment in comments %}
            <div class="col">
                <div class="card text-dark">
                    <div class="card-body p-4">
                        <div class="d-flex flex-start">
                            <img class="rounded-circle shadow-1-strong me-3" src="{{ comment.user.profile.avatar.url }}"
                                width="60" height="60" />
                            <div>
                                <h6 class="fw-bold mb-1">{{comment.user.first_name}} {{comment.user.last_name}}</a></h6>
                                <div class="d-flex align-items-center mb-3">
                                    <p class="mb-0">
                                        {{comment.task.name}} | {{comment.task.duration}} </p>
                                </div>
                                <p class="mb-0">
                                    {{comment.content}}

                                </p>
                                <img src="{{comment.image.url}}" height="100" width="100" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}


        </div>
        {%else%}
        {% if not request.user.is_superuser %}

        <h5>Write a comment</h5>
        {% endif %}
        {%endif%}

    </div>
</section>


<!-- Add comment -->
{% if not request.user.is_superuser %}

<div class="container">
    <form action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card">
            <p class="heading">Add comment</p>

            <div class="input-div">
                <input type="text" class="input"
                    placeholder="{{ request.user.first_name }} {{ request.user.last_name }}" disabled>
            </div>

            <div class="input-div">
                <input type="text" class="input" placeholder="{{ task.name}}" name="task" disabled>
            </div>

            <div class="input-div">
                <input class="input" type="text" placeholder="Content" name="content">
            </div>

            <div class="input-div">
                <input class="input" type="file" name="image" accept="image/*" placeholder="Upload image">
            </div>

            <div class="button-div">
                <input class="submit btn btn-success" type="submit" placeholder="Submit">

            </div>


        </div>
    </form>
</div>
{% endif %}


<script>

    $(document).ready(function () {

        "use strict";

        var todo = function () {
            $('.todo-list .todo-item input').click(function () {
                if ($(this).is(':checked')) {
                    $(this).parent().parent().parent().toggleClass('complete');
                } else {
                    $(this).parent().parent().parent().toggleClass('complete');
                }
            });

            $('.todo-nav .all-task').click(function () {
                $('.todo-list').removeClass('only-active');
                $('.todo-list').removeClass('only-complete');
                $('.todo-nav li.active').removeClass('active');
                $(this).addClass('active');
            });

            $('.todo-nav .active-task').click(function () {
                $('.todo-list').removeClass('only-complete');
                $('.todo-list').addClass('only-active');
                $('.todo-nav li.active').removeClass('active');
                $(this).addClass('active');
            });

            $('.todo-nav .completed-task').click(function () {
                $('.todo-list').removeClass('only-active');
                $('.todo-list').addClass('only-complete');
                $('.todo-nav li.active').removeClass('active');
                $(this).addClass('active');
            });

            $('#uniform-all-complete input').click(function () {
                if ($(this).is(':checked')) {
                    $('.todo-item .checker span:not(.checked) input').click();
                } else {
                    $('.todo-item .checker span.checked input').click();
                }
            });

            $('.remove-todo-item').click(function () {
                $(this).parent().remove();
            });
        };

        todo();

        $(".add-task").keypress(function (e) {
            if ((e.which == 13) && (!$(this).val().length == 0)) {
                $('<div class="todo-item"><div class="checker"><span class=""><input type="checkbox"></span></div> <span>' + $(this).val() + '</span> <a href="javascript:void(0);" class="float-right remove-todo-item"><i class="icon-close"></i></a></div>').insertAfter('.todo-list .todo-item:last-child');
                $(this).val('');
            } else if (e.which == 13) {
                alert('Please enter new task');
            }
            $(document).on('.todo-list .todo-item.added input').click(function () {
                if ($(this).is(':checked')) {
                    $(this).parent().parent().parent().toggleClass('complete');
                } else {
                    $(this).parent().parent().parent().toggleClass('complete');
                }
            });
            $('.todo-list .todo-item.added .remove-todo-item').click(function () {
                $(this).parent().remove();
            });
        });
    });

</script>
{% endblock %}