{% extends 'main/base.html' %}
{% block title %} All Department {% endblock %}
{% block content %}

<div>
    <h3 class="title"><b> All Departments </b></h3>
    <a href="{% url 'service:add_department' %}" class="btn btn-secondary btn-lg " role="button" aria-disabled="true">Add new department </a>
</div>
<section class="container">
    <div class="row gap-1 row-cols-3 row-cols-md-4">
        {% for department in department %}
        <div>
            <div class="col">
                <div class="d-flex flex-column gap-1 p-3 border border-1 rounder-6 shadow h-100">
                    <img src="{{department.Image.url}}" /><br>
                    <a href="{% url 'service:department_details' department.id %}"> {{ department.title }}
                    </a>
                    <h5> {{task.count}} tasks </h5>
                    <br>
                    <a href="{% url 'service:department_details' department.id %}"
                        class="btn btn-secondary text-black" type="botton" aria-e>
                        View </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}