{% extends 'main/base.html' %}


{% block title %} Tasks {% endblock %}




{% block content %} 

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-white">
                <div class="card-body">
           
                    <ul class="nav nav-pills todo-nav">
                        <li role="presentation" class="nav-item all-task active"><a href="#" class="nav-link">All</a></li>
                        <li role="presentation" class="nav-item active-task"><a href="#" class="nav-link">Active</a></li>
                        <li role="presentation" class="nav-item completed-task"><a href="#" class="nav-link">Completed</a></li>
                    </ul>
                    {% for task in tasks %}

                        <div class="todo-list">
                            <div class="todo-item">
                                <div class="checker"><span class=""><input type="checkbox"></span></div>
                                <span>{{task.name}}</span>
                                <a href="javascript:void(0);" class="float-right remove-todo-item"><i class="icon-close"></i></a>
                            </div>
                        
                    {% endfor %}
  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}