 {% extends 'main/base.html' %}
{% load static %}
{% block title %} comment {% endblock %}

{% block content %}

<!-- Show comments -->
<section class="comment-section">
    <div class="container my-5 py-5">
        {% if comment_count > 0 %}
        <h4 class="mb-4">Recent Comments ({{ comment_count }})</h4>
        <div class="row row-cols-1 row-cols-md-4 mt-3  d-flex ">
          {% for comment in comments %}
            <div class="col-md-4 mb-4">
                <div class="card ">
                    <div class="card-body  ">
                        <div class="comment-header d-flex align-items-center">
                            <img class="rounded-circle me-3" src="{{ comment.user.profile.avatar.url }}"
                                width="40" height="40" alt="User Avatar">
                            <div>
                                <h6 class="mb-0">{{ comment.user.first_name }} {{ comment.user.last_name }}</h6>
                                <p>{{ comment.user.username }} </p>
                            </div>
                        </div>
                        <p class="comment-content mt-3 mb-0">{{ comment.content }}</p>
                        {% if comment.image %}
                        <img src="{{ comment.image.url }}" class="img-fluid mt-3" alt="Comment Image">
                        {% endif %}


                        {% if comment.replies.all %}
                        <div class="replies mt-3">
                            <h6 class="mb-3">Replies:</h6>
                            {% for reply in comment.replies.all %}
                            <div class="reply">
                                <p class="mb-0">{{ reply.user.first_name }} replied: {{ reply.content }}</p>
                                {% if reply.image %}
                                <img src="{{ reply.image.url }}" class="img-fluid" alt="Reply Image">
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- Reply form for each comment -->
                        <form action="{% url 'service:add_comment_view' task.id comment.id %}" method="POST"
                            enctype="multipart/form-data" class="reply-form mt-3">
                            {% csrf_token %}
                            <div class="form-group mb-2">
                                <input type="text" class="form-control" placeholder="Your reply..." name="content"
                                    required>
                            </div>
                            <div class="form-group mb-2">
                                <input type="file" class="form-control" name="image" accept="image/*"
                                    placeholder="Upload image">
                            </div>
                            <button type="submit" class="btn btn-link"><i class="bi bi-reply"></i> Reply</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="text-muted">No comments yet. Be the first to comment!</p>
        {% endif %}
    </div>
</section>
<hr>
<!-- Add comment form -->
<div class="container">
    <h2 class="heading mt-5 mb-4">Add a Comment</h2>
    <form action="{% url 'service:add_comment_view' task.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card p-3">
            <div class="form-group mb-2">
                <input type="text" class="form-control" name="{{ request.user.username }}"
                    value="{{ request.user.username }} " disabled>
            </div>
            <div class="form-group mb-2">
                <input type="text" class="form-control" placeholder="{{ task.name }}" name="task" disabled>
            </div>
            <div class="form-group mb-2">
                <textarea class="form-control" placeholder="Your comment..." name="content" required></textarea>
            </div>
            <div class="form-group mb-2">
                <input type="file" class="form-control" name="image" accept="image/*" placeholder="Upload image">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
