{% extends 'main/base.html' %}
{% load static %}
{% block title %} Admin page {% endblock %}
<!-- <style>
.card-img-top {
        height: 100%; /* Set the height of the image container */
        object-fit: cover; /* Make sure the image covers the container */
    }
</style> -->

{% block content %}
<!-- CONTENT -->
<section id="content">

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Admin Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active" href="#">Home</a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="box-info">
      <a href="{% url 'department:display_department' %}">
        <li>
          <img class="bx bxs-calendar-check" src="\static\images\department.png" alt="Department image ">
          <!-- <i class='bx bxs-calendar-check'></i> -->
          <span class="text">
            <h3>Departments</h3>
          </span>
        </li>
      </a>
      <a href="{% url 'department:display_department' %}">
        <li>
          <img class="bx bxs-group" src="\static\images\worker.png" alt="Worker image">
          <!-- <i class='bx bxs-group'></i> -->
          <span class="text">
            <h3>Workers</h3>
          </span>
        </li>
      </a>
      <a href="{% url 'department:display_department' %}">
        <li>
          <img class="bx bxs-group" src="\static\images\supervisor_icon.png" alt="Supervisor image ">
          <!-- <i class='bx bxs-dollar-circle' ></i> -->
          <span class="text">
            <h3>Supervisor</h3>
          </span>
        </li>
      </a>

    </ul>

</section>




{% endblock %}