{% extends 'main/base.html' %}
{% load static %}
{% block title %} My Profile {% endblock %}

{% block content %}
<style>
  .card {
    --main-color: #000;
    --submain-color: #78858F;
    --bg-color: #fff;
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 1200px;
    height: 384px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-color);
  }

  .card__img {
    height: 192px;
    width: 100%;
  }

  .card__img svg {
    height: 100%;
    border-radius: 20px 20px 0 0;
  }

  .card__avatar {
    position: absolute;
    width: 114px;
    height: 114px;
    background: var(--bg-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 57px);
  }

  .card__title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
  }

  .card__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
  }

  .card__btn {
    margin-top: 15px;
    width: 76px;
    height: 31px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    color: var(--main-color);
    background: var(--bg-color);
    text-transform: uppercase;
    transition: all 0.3s;
  }

  .card__btn-solid {
    background: var(--main-color);
    color: var(--bg-color);
  }

  .card__btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
  }

  .card__btn-solid:hover {
    background: var(--bg-color);
    color: var(--main-color);
  }


  /* card-2 */
  .card-2 {
    width: 1200px;
    height: 150px;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    margin: auto;
    margin-top: 10px;
  }

  .infos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    grid-gap: 1rem;
    gap: 1rem;
  }

  .info {
    height: 7rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
  }

  .coolinput label.text {
    font-size: 0.75rem;
    color: #398c3b;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #ffffff;
    width: fit-content;
    border-radius: 50px;
  }

  .coolinput input[type=text].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #4aaf4c solid;
    border-radius: 5px;
    background: #ffffff;
  }

  .coolinput input[type=text].input:focus {
    outline: none;
  }
  .coolinput input[type=date].input {
        padding: 10px 10px;
        font-size: 0.75rem;
        border: 2px #4aaf4c solid;
        border-radius: 5px;
        background: #ffffff;
    }
  /*  */

  .containerr {
    width: 100%;
    height: 100%;
    --s: 84px;
    --c1: #79994f;
    --c2: #717246;
    --c3: #3b3b06;

    --_g: 0 120deg, #0000 0;
    background: conic-gradient(from 0deg at calc(500% / 6) calc(100% / 3),
        var(--c3) var(--_g)),
      conic-gradient(from -120deg at calc(100% / 6) calc(100% / 3),
        var(--c2) var(--_g)),
      conic-gradient(from 120deg at calc(100% / 3) calc(500% / 6),
        var(--c1) var(--_g)),
      conic-gradient(from 120deg at calc(200% / 3) calc(500% / 6),
        var(--c1) var(--_g)),
      conic-gradient(from -180deg at calc(100% / 3) 50%,
        var(--c2) 60deg,
        var(--c1) var(--_g)),
      conic-gradient(from 60deg at calc(200% / 3) 50%,
        var(--c1) 60deg,
        var(--c3) var(--_g)),
      conic-gradient(from -60deg at 50% calc(100% / 3),
        var(--c1) 120deg,
        var(--c2) 0 240deg,
        var(--c3) 0);
    background-size: calc(var(--s) * 1.732) var(--s);
  }
</style>

<!-- CONTENT -->
<section id="content">
  <div class="card">
    <div class="card__img">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" class="containerr"></svg>
    </div>
    <div class="card__avatar">
      <img class="w-100 rounded-circle" src="{{ user.profile.avatar.url }}" />
    </div>
    <div class="card__title">
      {{ user.first_name }} {{ user.last_name }}
    </div>
    <div class="card__subtitle"> Department : {{user.profile.department.title}}</div>
    <div class="card__wrapper">
      {% if request.user.is_authenticated and request.user.id == user.id %}
      <a href="{% url 'accounts:update_user_view'%}"><button class="card__btn">Edit</button></a>
      <a href="{% url 'accounts:reset_password_view' %}"><button class="card__btn">Reset password</button></a>
      <a><button class="card__btn"> Rating:  {{ user.profile.supervisor_rating }}</button></a>

      {% endif %}
    </div>

  </div>

  <div class="card-2">
    <div class="infos">

      <div class="coolinput">
        <label for="input" class="text">Username:</label>
        <input type="text" placeholder="@{{ user.username}}" name="input" class="input" disabled>
      </div>
      <div class="coolinput">
        <label for="input" class="text">Email:</label>
        <input type="text" placeholder="{{request.user.email}}" name="input" class="input" disabled>
      </div>
      <div class="coolinput">
        <label for="input" class="text">First Name:</label>
        <input type="text" placeholder="{{request.user.first_name }}" name="input" class="input" disabled>
      </div>
      <div class="coolinput">
        <label for="input" class="text">Last Name:</label>
        <input type="text" placeholder="{{request.user.last_name }}" name="input" class="input" disabled>
      </div>
      <div class="coolinput">
        <label for="input" class="text">Birth Date:</label>
        <input type="date"  value="{{ request.user.profile.birth_date.isoformat }}"name="input" class="input"
          disabled >
      </div>
    </div>
  </div>
</section>



{% endblock %}