{% extends 'main/base.html' %}
{% load static %}
{% block title %} My Profile {% endblock %}

{% block content %}


    <style>
        /* .c {
            background: rgba(11.10, 105.37, 2.90, 0.70);
    
            float: right;
            width: 700px;
            height: 700px;
            shape-outside: circle(50% at 50%);
            clip-path: circle(50% at -10%);
            transform: rotate(180deg);
            margin-right: -10px;
            margin-top: 100px;
    
        }
    
        .c2 {
            background: rgb(121, 121, 121);
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin-top: 600px
        } */

        .form-control:focus {
            box-shadow: none;
            border-color: #6ac868
        }

        .profile-button {
            background: #428a41;
            box-shadow: none;
            border: none
        }

        .profile-button:hover {
            background: #6bc16a
        }

        .profile-button:focus {
            background: #428a41;
            box-shadow: none
        }

        .profile-button:active {
            background: #428a41;
            box-shadow: none
        }

        .back:hover {
            color: #428a41;
            cursor: pointer
        }

        .labels {
            font-size: 11px
        }

    </style>


    <!-- <div  class="c">
        <div class="c2">

        
        </div>
    </div> -->
  
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                        class="font-weight-bold">{{user.username}}</span><span
                        class="text-black-50">{{department.title }}</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">First Name </label><input type="text" class="form-control"
                                placeholder="first name" value=""></div>
                        <div class="col-md-6"><label class="labels">Last Name </label><input type="text"
                                class="form-control" value="" placeholder="Last Name"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text"
                                class="form-control" placeholder="enter phone number" value=""></div>
                        
                        <div class="col-md-12"><label class="labels">Email </label><input type="text"
                                class="form-control" placeholder="enter email" value=""></div>
                    </div>
                    <div class="row mt-3">
                        
                        <div class="col-md-6"><label class="labels">Nationality</label><input type="text"
                                class="form-control" placeholder="Nationality" value=""></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save
                            Profile</button></div>
                </div>
            </div>
            
        </div>
    </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}