{% extends 'main/base.html' %}
{% load static %}
{% block title %} view rating {% endblock %}

{% block content %}
<style>

    .form {
        background-color: #fff;
        display: inline-flex;
        flex-direction: row;
        padding: 1rem;
        gap: 9px;
        border-radius: 0.5rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }

    .form-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 600;
        text-align: center;
        color: #3f9c47;
    }
    .input-container {
  position: relative;
}
    .input-container input, .form button {
        outline: none;
        border: 1px solid #e5e7eb;
        margin: 10px 0;
    }

    .input-container input {
        background-color: #fff;
        padding: 0.5rem;
        padding-right: 3rem;
        font-size: 0.675rem;
        line-height: 1.25rem;
        width: 200px;
        border-radius: 0.5rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    .submit {
        display: block;
        background-color: #4F46E5;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 150px;
        height: 45px;
        border-radius: 0.5rem;
        text-transform: uppercase;
    }

    .radio{
        font-size: 12px;
        justify-content: center;
        align-content: center;
    }

    .radio input{
        margin-top: 50px;
    }
   .form button{
    margin-top: 35px;
   }


</style>

<!-- CONTENT -->
<section id="content">
    

    <h1>Your Supervisor Rating</h1>
    
    {% if supervisor_rating %}
        <p>Your supervisor has rated you: {{ supervisor_rating }}</p>
    {% else %}
        <p>No rating available yet.</p>
    {% endif %}
    
</section>
<!-- CONTENT -->



{% endblock %}